@model ToDoList.Models.TodoList

@{
    ViewData["Title"] = "Index";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSpecific">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Show" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Founded toDo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Content)
            </td>
        </tr>
    </tbody>
</table>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}